<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
            <section id="header">
                <h1>Dapatkan Quote Random!!</h1>
                <h4>Dapatkan quotes random untuk mengawali harimu di sini!</h4>
            </section>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#d1d646" fill-opacity="1" d="M0,224L48,240C96,256,192,288,288,261.3C384,235,480,149,576,106.7C672,64,768,64,864,85.3C960,107,1056,149,1152,165.3C1248,181,1344,171,1392,165.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>

            <section id="question">
                <h2>Apa sih manfaat quote?</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p class="subtitle">Menyalakan semangat sehari-hari</p>
                            <p class="reason">Kutipan singkat bisa memantik motivasi besar. Dalam waktu kurang dari 10 detik, seseorang bisa merasa dipahami, tertantang, atau termotivasi hanya karena satu kalimat yang tepat di waktu yang pas. Ini seperti secangkir kopi... tapi dalam bentuk kata.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="subtitle">Membuka perspektif baru</p>
                            <p class="reason">Terkadang, kutipan bukan hanya soal semangat, tapi juga cara baru melihat dunia. Satu kalimat bisa membuka sudut pandang baru, memunculkan empati, atau bahkan menyadarkan kita akan hal-hal sederhana yang sering terlewat.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="subtitle">Menjadi jeda yang menenangkan</p>
                            <p class="reason">Di tengah arus informasi yang cepat dan konten berat, kutipan sederhana jadi oase yang tenang. Mereka tidak minta banyak waktu, tapi bisa memberi ketenangan atau senyum kecil yang membuat hari terasa lebih ringan.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="subtitle">Bahan refleksi dan percakapan</p>
                            <p class="reason">Sebuah quote bisa memancing refleksi pribadi atau diskusi bersama teman. Kadang kita tidak menyadari isi hati kita sendiri… sampai ada kutipan yang menampar halus. Dari situ, percakapan bermakna sering bermula.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
        <script src="/static/js/script.js"></script>
    </body>
</html>
