<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
            <section id="header">
                <h1>Dapatkan Quote Random!!</h1>
                <h4>Dapatkan quotes random untuk mengawali harimu disini!</h4>
            </section>
            <section id="question">
                <h2>Apa sih manfaat quote?</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p class="subtitle">Menyalakan semangat sehari-hari<p>
                            <p class="reason">Kutipan singkat bisa memantik motivasi besar. Dalam waktu kurang dari 10 detik, seseorang bisa merasa dipahami, tertantang, atau termotivasi hanya karena satu kalimat yang tepat di waktu yang pas. Ini seperti secangkir kopi... tapi dalam bentuk kata.<p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam excepturi perferendis expedita repellendus. Iste, veniam.</div>
                        <div class="col-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, nulla vel. Magnam deserunt optio quisquam.</div>
                    </div>
                </div>
            </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
        <script src="/static/js/script.js"></script>
    </body>
</html>
